services:
  wechat-api:
    build: .
    container_name: wechat-api
    network_mode: host
    volumes:
      - wechat_images:/tmp/wechat_images
      - ./main.py:/app/main.py
    restart: unless-stopped
    environment:
      - TZ=Asia/Shanghai
      - WECHAT_API_URL=http://192.168.31.109:30001/api
      - PUBLIC_BASE_URL=http://117.72.154.231:9000

volumes:
  wechat_images:
