services:
  wechat-api:
    build: .
    container_name: wechat-api
    network_mode: host
    volumes:
      - ./main.py:/app/main.py
      - /mnt/d/wechat_save_file:/data/wechat_images
    restart: unless-stopped
    environment:
      - TZ=Asia/Shanghai
      - WECHAT_API_URL=http://192.168.31.109:30001/api
      - PUBLIC_BASE_URL=http://117.72.154.231:9000
      - IMG_DOWNLOAD_DIR=/data/wechat_images
      - WINDOWS_SAVE_DIR=D:\\wechat_save_file

# 注意：确保 /mnt/d/wechat_save_file 在 WSL 可读写，并且 Windows 侧已创建 D:\wechat_save_file
